.ul li {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  list-style: none;
  float: left;
  display: block;
  padding: 0;
  padding-left: 7%;
  padding-right: 7%;
  background-color:rgba(44, 19, 19, 0.486);
  background-position-x: 50%
}

.nav{
  padding-left: 7%;
}